body {
  margin: 0;
  font-family: sans-serif;
}

.dong-label {
  font-size: 14px;
  font-weight: bold;
  background: transparent;
  border: none;
  box-shadow: none;
  color: #333;
  pointer-events: none;
}

#footer-credit {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  color: rgb(0, 0, 0);
  z-index: 9999;
  opacity: 0.6;
}

/* 폰트 스타일 */
@font-face {
  font-family: 'Paperlogy-Bold';
  src: url('https://wkdwodud111.github.io/busansinkholemap/fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Paperlogy-Regular';
  src: url('https://wkdwodud111.github.io/busansinkholemap/fonts/Paperlogy-4Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin: 20px;
}

.container {
  display: flex;
  height: 85vh;
  padding: 0 20px;
  box-sizing: border-box;
}

#map {
  width: 48vw;
  height: 100%;
  border: 2px solid #aaa;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

/* 공통 인포박스 스타일 */
.info-box {
  position: absolute;
  width: 400px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1000;
  display: none; /* 기본적으로 숨김 */
  border-radius: 30px; /* 모서리 둥글게 하기 */
  font-family: 'Arial', sans-serif; /* 기본 글씨체 */
}

/* test1, test2 */
.info-box1, .info-box2 {
  height: 200px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Paperlogy-Bold', sans-serif;
  width: 400px;
}

/* test3, test4*/
.info-box3, .info-box4 {
  height: 420px;
  font-family: 'Paperlogy-Regular', sans-serif;
  padding: 10px;
}

/* 왼쪽 상단 */
.info-box1 {
  left: calc(50vw + 20px);
  top: 100px;
}

/* 오른쪽 상단 */
.info-box2 {
  left: calc(50vw + 450px);
  top: 100px;
}

/* 왼쪽 하단 */
.info-box3 {
  left: calc(50vw + 20px);
  top: 330px;
}

/* 오른쪽 하단 */
.info-box4 {
  left: calc(50vw + 450px);
  top: 330px;
}

/* "위험등급5" 스타일 */
.info-box1 h2 {
  color: rgba(255, 100, 100);
  font-size: 50px;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 25px;
}

/* "위험등급4" 스타일 */
.info-box1 h3 {
  color: rgb(255, 200, 100);
  font-size: 50px;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 25px;
}

/* "위험등급3" 스타일 */
.info-box1 h4 {
  color: rgb(255, 255, 100);
  font-size: 50px;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 25px;
}

/* "위험등급2" 스타일 */
.info-box1 h5 {
  color: rgb(150, 200, 100);
  font-size: 50px;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 25px;
}

/* "위험등급1" 스타일 */
.info-box1 h6 {
  color: rgb(0, 150, 100);
  font-size: 50px;
  margin-top: 40px;
  margin-left: 15px;
  margin-bottom: 25px; 
}

/* "사고수" 스타일 */
.info-box1 p {
  font-size: 20px;
  margin-left: 15px;
  margin-top: -20px; 
}

/* 각 항목들 스타일 */
.info-box2 p {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 1.0;
}

/* 3소제목 */
.info-box3 h3 {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* 3소제목아래 */
.info-box3 p {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 1.0;
}

/* 4소제목 */
.info-box4 h3 {
  font-size: 25px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* 4소제목아래 */
.info-box4 p {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 1.0;
}

#guImageBox1 {
  position: fixed;
  top: 200px;   
  right: 350px; 
  z-index: 999;
}

#guImageBox2 {
  position: fixed;
  top: 200px;   
  right: 50px;   
  z-index: 999;
}

button {
  background-color: #e6f7ff;
  border: 2px solid #b3e5fc;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Paperlogy-Bold', sans-serif;
  color: #007acc;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #d0f0ff;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.15);
  transform: translateY(-2px);
}